html {
  box-sizing: border-box;
};
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'BioRhyme', serif;
  height: 100%;
  width: 100%;
}

header {
  height: 100px;
  background: #252839;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
  text-align: center;
}

header h2 {
  font-size: 2em;
}

header ul {
  display: flex;
}

header li{
  margin: 5%;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  background: #e62739;
  color: #ffffff;
}

.container {
  display: flex;
  justify-content: center;;
  align-items: center;
  width: 100%;
  height: 500px;
  background: #b5b5b7;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  width: 20%;
  background: #252839;
  height: 100%;
}

.links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.links li {
  margin-top: 15%;
  text-align: center;
  font-size: 1.5em;
}

.projects {
  transition-duration: 1s;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
}

.project-image-box {
  width: 60%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-image-box img {
  width: 100%;
}

.project-image-box a img{
  outline: none;
}

.project-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 55%;
  height: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.project-description h2{
  /*margin: auto;*/
  height: 20%;
  font-size: 2em;
}

.project-description p{
  height: 20%;
}

.project-description ul{
  height: 40%;
  line-height: 1.5em;

}

.project-description ul h3{
  font-size: 1.5em;
  margin-bottom: 3%;
  margin-top: 5%;
}

.project-desription li{
  line-height: 1.2em;
}

.idea-box {
  display: none;
}

.linked-list {
  display: none;
}

.number-guesser {
  display: none;
}

footer {
  transition-duration: 2s;
  height: 100px;
  color: #ffffff;
  background: #252839;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer ul {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.square-container{
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
}

.small-square {
  background: #e62739;
  height: 25px;
  width: 25px;
  margin-right: 10%;
}

@media screen and (max-width: 600px){

  body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  header{
    justify-content: center;
    height: 15%;
    position: fixed;
    width: 100%;
  }
  header h2{
    display: none;
  }
  header ul{
    width: 100%;
    justify-content: center;
  }
  header li{
    font-size: .5em;
  }
  .container{
    margin-top: 20%;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  article{
    flex-direction: column;
    margin-top: 10%;
    width: 95%;
  }
  .project-image-box{
    width: 95%;
  }
  .project-image-box img{
    width: 90%;
  }
  .project-description{
    width: 95%;
    margin: auto;
    justify-content: center;
    text-align: center;
  }
  .project-description h3{
    font-size: 1.25em;
  }

  .links{
    display: none;
  }
  .trawn{
    margin-top: 10%;
  }
  .work-description{
    width: 80%;
    text-align: center;
  }
  .idea-box{
    display: flex;
  }

  .linked-list{
    display: flex;
    margin-bottom: 5%;
  }

  .number-guesser{
    width: 100%;
    display: flex;
    margin-left: 0%;
    margin-bottom: 5%;
    justify-content: center;
  }

  .square-container{
    display: none;
  }

  footer{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer ul{
    font-size: 1.5em;
    width: 100%;
  }
}
