html {
  box-sizing: border-box;
};
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'BioRhyme', serif;
  height: 100%;
  width: 100%;
}

header {
  height: 100px;
  background: #252839;
  /*background: #e62739;*/
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
  text-align: center;
}

a {
  color: #252839;
  text-decoration: none;
}

a:hover {
  background: #e62739;
  color: #ffffff;
}

.container {
  /*font-family: 'BioRhyme', serif;*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 550px;
  background: #b5b5b7;
}

.content-box {
  width: 35%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle-img {
  border-radius: 50%;
  width: 65%;
}

.links {
  width: 30%;
  /*background: #6ed3cf;*/
  /*background: #252839;*/
  color: #252839;
}

.content-box ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-box li {
  text-align: center;
  font-size: 1.5em;
  margin-top: 10%;
  margin-bottom: 10%;
}

.goals {
  /*background: #677077;*/
  font-size: 1.2em;
  text-align: center;
  line-height: 1.2em;
  color: #ffffff;
}

.philosophy{
  margin: 5%;
}

.picture {
  background: #252839;
  color: #ffffff;
}

.picture p {
  margin-top: 10%;
}


footer {
  transition-duration: 2s;
  height: 100px;
  color: #ffffff;
  background: #252839;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer a{
  color: #ffffff;
}

footer ul {
  width: 30%;
  display: flex;
  justify-content: space-around;
}


.square-container{
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
}

.small-square {
  background: #e62739;
  height: 25px;
  width: 25px;
  margin: 5%;
}

@media screen and (max-width: 600px){
  header{
    display: none;
  }
  .container{
    display: flex;
    flex-direction: column-reverse;
  }
  .content-box{
    width: 100%;
    height:50%;
    text-align: center;
  }
  .picture{
    height: 60%;
  }
  .picture img{
    margin-top: 10%;
    margin-bottom: 1%;
  }
  .square-container{
    display: none;
  }
  .picture p{
    margin-bottom: 5%;
  }

  .link{
    height: 35%;
  }

  .link a{
    outline: #e62739; 
  }

  .link a:hover{
    outline: none;
  }
  footer{
    height: 15%;
    align-items: center;
  }
  footer ul{
    font-size: 1.5em;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
}
