html {
  box-sizing: border-box;
};
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'BioRhyme', serif;
  height: 100%;
  width: 100%;
}

header {
  height: 100px;
  background: #e62739;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
  text-align: center;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  background: #e62739;
  color: #ffffff;
}

.container {
  /*font-family: 'BioRhyme', serif;*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 500px;
  background: #b5b5b7;
}

.content-box {
  width: 35%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle-img {
  border-radius: 50%;
  width: 65%;
}

.links {
  width: 20%;
  background: #6ed3cf;
  color: #ffffff;
}

.content-box ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-box li {
  margin: 15%;
  text-align: center;
  font-size: 1.5em;
}

.goals {
  background: #677077;
  font-size: 1.2em;
  text-align: center;
  line-height: 1.2em;
  color: #ffffff;
}

.philosophy{
  margin: 5%;
}

.picture {
  background: #252839;
  color: #ffffff;
}

.picture p {
  margin-top: 10%;
}


footer {
  transition-duration: 2s;
  height: 100px;
  color: #ffffff;
  background: #9068be;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer ul {
  width: 30%;
  display: flex;
  justify-content: space-around;
}


.square-container{
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
}
.big-square {
  background: #e62739;
  background: #6ed3cf;
  height: 50px;
  width: 50px;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-square {
  background: #e62739;
  height: 25px;
  width: 25px;
}
