html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*header stuff*/

body {
  font-family: "Arial Black", Arial Bold, Gadget, sans-serif;
}

header {
  font-family: "Arial Black", Arial Bold, Gadget, sans-serif;
  background: #9BDDFF;
  border-bottom: 5px solid #1A427A;
  height: 50px;
  margin-bottom: 15px;
  text-align: center;
  position: fixed;
  width: 100%;
}

header a:hover {
  color: #9BDDFF;
  background: black;
}

.circle-img {
  border-radius: 50%;
}

a:link {
  text-decoration: underline;
  color: black;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 200%;
  float: left;
  padding-top: 5px;
  padding-left: 10px;

}


nav li{
  display: inline-block;
  float: right;
  padding-top: 10px;
  padding-right: 30px;
  margin: auto 10px;
}

/*content stuff*/

section {
  border-bottom: 3px solid grey;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

section img{
  width: 25%;
  padding: 10px;
}

section h2 {
  font-size: 200%;
}

section p {
  padding: 50px;
}

#welcome h2{
  font-size: 300%;
  margin-top: 10px;
}

/*project section*/

#work {
  background: #6996B7;
  color: white;
}

.project {
  display: inline-block;
  width: 100%;
}

.project p a:hover{
  background: white;
  color: #6996B7;
}

.project p {
  margin-top: 5%;
  display: inline-block;
  width: 40%;
  margin: auto;
}

.project img {
  margin-top: 10%;
  width: 40%;
  vertical-align: top;
  margin-right: 10px;
  color: transparent;
}

/*about me stuff*/

#about {
  display: inline-block;
}

#about h3 {
  font-size: 150%;
  margin-bottom: 20px;
}

.education {
  margin-top: 50px;
  width: 40%;
  display: inline-block;
}

.education li{
  padding: 10px;
}

.education a:hover{
  background: black;
  color: white;
}

.personal {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}
/*footer stuff*/

footer {
  height: 50px;
  background-color: #9BDDFF;
}

footer ul{
  float: left;
}

footer li {
  display: inline-block;
}

footer a:hover {
  color: #9BDDFF;
  background: black;
}

footer img {
  width: 25px;
  margin: 10px;
}

footer h4 {
  float: right;
  padding: 20px;
}

/*smaller screen*/
@media screen and (max-width: 700px) {

  nav li {
    padding-right: 10px;
    float: right;
  }

  .project, .project img, .project p {
    display: block;
    width: 100%;
  }
  .project img {
    height: 30%;
    width: 50%;
    margin: auto;
    margin-top: 20px;
  }
  .personal, .education {
    display: block;
    margin: auto;
    width: 100%;
  }
}
